<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27484197418-139v0or6rtcanclb0fg6kgrka1rh9jvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27484197418-139v0or6rtcanclb0fg6kgrka1rh9jvr</string>
	<key>API_KEY</key>
	<string>AIzaSyCv7oF5b9lOHUFydxO4ZoOvEgM4Hc9wI_A</string>
	<key>GCM_SENDER_ID</key>
	<string>27484197418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rohan.Ambulance</string>
	<key>PROJECT_ID</key>
	<string>ambulance-9e812</string>
	<key>STORAGE_BUCKET</key>
	<string>ambulance-9e812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27484197418:ios:55d13c216d3b7ecc192953</string>
	<key>DATABASE_URL</key>
	<string>https://ambulance-9e812.firebaseio.com</string>
</dict>
</plist>